################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebService/.vs/WebService
/WebService/WebService.Service/bin/Debug/netcoreapp3.1
/WebService/WebService.Service/obj
